:root {
  font-size: 16px;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.debug {
  outline: 1px solid red !important;
  margin: 5px !important;
}

body {
  position: relative;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f1f1e8;
}

img {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4 {
  font: 'Times New Roman', Times, serif, 1.4rem;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h2 {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-bottom: 20px;
}

h3, h4 {
  margin-bottom: 10px;
}

h2::first-letter, h3::first-letter, h4::first-letter {
  text-transform: uppercase;
}

a:visited, a:link {
  color: inherit;
}

.wpp-icon {
  outline: 1px solid red;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-whatsapp-square {
  color: #25d366;
}

a[href^="https://elfsight.com/whatsapp-chat-widget"] {
  display: none !important;
}

.home .header__banner {
  max-height: 800px;
  width: 100%;
  height: 40vh;
  margin-bottom: 20px;
}

.home .header__banner img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.home .header__body {
  padding: 20px 0;
  text-align: center;
}

.home .header__body-tittle {
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
}

.home .header__body-tittle .title-segmentTwo {
  margin: 20px 0;
  display: inline-block;
}

.home .header__body-content {
  margin: 0 auto;
  width: 90%;
  padding-top: 20px;
  border-top: 1px solid #000;
  font-size: 1rem;
  letter-spacing: .20rem;
  margin-bottom: 0;
}

.home .main {
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .main__provinces {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .main__provinces-a {
  font-size: 1rem;
  background-color: #81b214;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.home .main__provinces-a:nth-child(2) {
  background-color: #206a5d;
}

.home .contactInfo {
  width: 100vw;
  background-color: #ddd;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
}

.home .contactInfo li {
  text-align: center;
  width: 100%;
  line-height: 60px;
}

.province .main {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.province .main__title {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  width: 100%;
  font-size: 1.3rem;
}

.province .main__place {
  max-width: 600px;
  width: 100%;
  margin-bottom: 50px;
}

.province .main__place-img {
  height: 300px;
  -webkit-box-shadow: 2px 2px 5px #aaa;
          box-shadow: 2px 2px 5px #aaa;
  margin-bottom: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.province .main__place-subTittle {
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 0;
}

.nav {
  background-color: #206a5d;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.nav__ul .nav__a {
  color: #fff;
}

.nav__a {
  border-radius: 2px;
  padding: 5px;
  font-size: 1rem;
  background-color: #81b214;
  color: #fff;
  display: inline-block;
}

.nav__a::first-letter {
  text-transform: uppercase;
}

@media (min-width: 600px) {
  :root {
    font-size: 22px;
  }
  .province .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .province .main__place {
    width: 45%;
  }
  .province .main__place-img {
    border-radius: 5px;
  }
  .nav__a {
    padding: 5px 20px;
  }
  .home .header__banner {
    height: 40vh;
  }
  .home .header__banner img {
    padding: 0;
  }
  .home .contactInfo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header {
    margin-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 28px;
  }
}

.btnHover:hover {
  color: inherit;
}

.nav .onIt {
  background-color: #f1f1e8;
  color: #000;
}

.title-thinSize {
  font-weight: 100;
}

.title-normalSize {
  font-weight: 700;
}

.title-boldSize {
  font-weight: 1000;
}
/*# sourceMappingURL=style.css.map */