:root {
  font-size: 16px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.debug {
  outline: 1px solid red !important;
  margin: 5px !important;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f1f1e8;
}

img {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4 {
  font: "Times New Roman", Times, serif, 1.4rem;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

h3, h4 {
  margin-bottom: 10px;
}

h2::first-letter, h3::first-letter, h4::first-letter {
  text-transform: uppercase;
}

a:visited, a:link {
  color: inherit;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-whatsapp-square {
  color: #25d366;
}

a[href^="https://elfsight.com/whatsapp-chat-widget"] {
  display: none !important;
}

img[src^="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
  display: none !important;
}

.header__banner {
  max-height: 800px;
  width: 100%;
  height: 40vh;
  margin-bottom: 20px;
}
.header__banner img {
  object-fit: cover;
  object-position: center;
}

.header__body {
  padding: 20px 0;
  text-align: center;
}

.header__body-tittle {
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
}

.header__body-tittle .title-segmentTwo {
  margin: 20px 0;
  display: inline-block;
}

.header__body-content {
  margin: 0 auto;
  width: 90%;
  padding-top: 20px;
  border-top: 1px solid #000;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main__provinces {
  width: 80%;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-items: flex-start;
}
.main__provinces .provinces__neuquen, .main__provinces .provinces__rioNegro {
  max-width: 300px;
  width: 40%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-flow: wrap column;
}

.main__provinces-a {
  text-align: center;
  font-size: 1rem;
  background-color: #81b214;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.2s;
  margin-bottom: 10px;
}

.main__provinces-a:link {
  color: #fff;
}

.main__provinces-a:visited {
  color: #fff;
}

.main__provincesExcBtn {
  font-size: 1.5rem;
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: #ddd;
}

.contactInfo {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6rem;
}
.contactInfo li {
  text-align: center;
  line-height: 60px;
}

.nav {
  background-color: #206a5d;
}

.nav__ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
}
.nav__ul .nav__a {
  color: #fff;
}

.nav__a {
  border-radius: 2px;
  padding: 5px;
  font-size: 1rem;
  background-color: #81b214;
  color: #fff;
  display: inline-block;
}
.nav__a::first-letter {
  text-transform: uppercase;
}

@media (max-width: 400px) {
  .header {
    height: 100vh;
  }
}
@media (min-width: 600px) {
  :root {
    font-size: 22px;
  }

  .main__provinces {
    justify-content: center;
  }
  .main__provinces > * {
    margin: 0 10px;
  }

  .nav__a {
    padding: 5px 20px;
  }

  .home .header__banner {
    height: 40vh;
  }
  .home .header__banner img {
    padding: 0;
  }

  .header {
    height: auto;
  }
}
@media (min-width: 1200px) {
  :root {
    font-size: 28px;
  }
}
.btnHover:hover {
  color: inherit;
}

.nav .onIt {
  background-color: #f1f1e8;
  color: #000;
}

.title-thinSize {
  font-weight: 100;
}

.title-normalSize {
  font-weight: 700;
}

.title-boldSize {
  font-weight: 1000;
}

.primaryBtn {
  background-color: #40580c;
}/*# sourceMappingURL=style.css.map */