// .home {
  .header__banner {
    max-height: 800px;
    width: 100%;
    height: 40vh;
    img {
      object-fit: cover;
      object-position: center;
    }
    margin-bottom: 20px;
  }
  .header__body {
    padding: 20px 0;
    text-align: center;
  }
  .header__body-tittle {
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    font-size: 1.3rem;
  }
  .header__body-tittle .title-segmentTwo {
    margin: 20px 0;
    display: inline-block;
  }
  .header__body-content {
    margin: 0 auto;
    width: 90%;
    padding-top: 20px;
    border-top: 1px solid #000;
    font-size: 1rem;
    letter-spacing: .20rem;
    margin-bottom: 0;
  }
  .main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .main__provinces {
    width: 80%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: flex-start;
    .provinces__neuquen, .provinces__rioNegro {
      max-width: 300px;
      width: 40%;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      flex-flow: wrap column;
    }
  }
  .main__provinces-a {
    text-align: center;
    font-size: 1rem;
    background-color: $btn-color;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color .2s;
    margin-bottom: 10px;
  }
  .main__provinces-a:link {
    color: #fff;
  }
  .main__provinces-a:visited {
    color: #fff;
  }
  .main__provincesExcBtn {
    font-size: 1.5rem;
  }
  .footer {
    margin-top: auto;
    width: 100%;
    background-color: #ddd;
  }
  .contactInfo {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
    & li {
      text-align: center;
      // width: 100%;
      line-height: 60px;
    }
  }
// }