img {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4 {
  font: 'Times New Roman', Times, serif, 1.4rem;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h2 {
  text-decoration-line: underline;
  margin-bottom: 20px;
}

h3, h4 {
  margin-bottom: 10px;
}

h2::first-letter, h3::first-letter, h4::first-letter  {
  text-transform: uppercase;
}

a, a:visited, a:link {
  color: inherit;
}